.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  background-color: #e7f3ae;
  border-top: .1em solid #a2b430; 
}

.footer h2 {
  font-size: 1em;
  font-weight: 200;
  font-style: italic;
}