.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 12em 0 3em;
}

.container img {
  width: 45%;
  margin: 1em;
}

.container span {
  color: goldenrod;
  padding-inline: .25em;
  margin-right: .5em;
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
}

.container p {
  color: goldenrod;
  padding-inline: .25em;
  margin-right: .5em;
  font-size: 1.2em;
  font-weight: 400;
}

.container a {
  color: goldenrod;
  text-decoration: none;
  font-style: italic;
}
